<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Leaving Cert Points Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>662946B81F2AA65D00C8F453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662946CC1F2AA65E00C8F453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662946D71F2AA65E00C8F453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
